header{
    background-color: rgb(253, 177, 188);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 60px;
}
.btn{
    background-color: rgb(241, 97, 14);
    border-radius: 3px;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
}
.h1{
    font-size: 55px;
}
.banar{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    
}
.pp{
    width: 380px;
}
.r{
    color: rgb(245, 12, 12);
}
.info{
    display: flex;
    text-align: center;
    margin: right 50px;
    
}
.section{
    text-align: center;
    padding: 100px;
    margin: 50px;
    background-color:rgb(253, 177, 188);
    border-radius: 5px;
    
    


}
.name{
    margin: auto;
}
