nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 60px;
}
.btn{
    background-color: rgb(241, 97, 14);
    border-radius: 3px;
    border: none;
    color: white;
}
.h1{
    font-size: 55px;
}
